# Copy this file to .env and fill in your values
# Never commit .env to version control

SECRET_KEY=change_me_to_a_long_random_string

POSTGRES_USER=admin
POSTGRES_PASSWORD=change_me

MONGO_USER=admin
MONGO_PASSWORD=change_me

RABBITMQ_USER=admin
RABBITMQ_PASSWORD=change_me
